@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@600&display=swap');

*, h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}


body {
	/*font-family: 'Nunito', sans-serif;*/
	font-family: 'Nunito Sans', sans-serif;
}

/*header*/
nav {
	width: 100%;
	background-color:#e30f00;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	padding: 10px !important;
	padding-bottom: 10px !important;
	z-index: 999;
	overflow: hidden;
	height: auto;
	box-sizing: border-box;
}

nav #logo-container {
	width: 80%;
	margin: auto;
	display: block;;
}

nav #logo-container img {
	display: block;
}


#container {
	display: grid;
	grid-template-columns: 1fr;
}


/*container-welcome-img*/
#container #container-welcome-img {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(1fr,1fr));
	width: 80%;
	overflow: hidden;
	margin: 50px auto;
	margin-top: 100px;
	border-radius: 12px;
	overflow: hidden;
	/*background-color: red;*/
}

#container #container-welcome-img img {
	width: 100%;
	margin-top: -200px;
	filter: grayscale(90%) blur(.8px);
}

/*breakpoint-container-welcome-img*/
@media only screen and (max-width: 1000px){
	 #container #container-welcome-img img {
		width: 100%;
		margin-top: 0 !important;
	}	
}
/*penutup breakpoint-container-welcome-img*/
/*penutup container-welcome-img*/

#container #container-welcome-img h1{
	position: absolute;
	top: 40%;
	left: 14%;
	color: rgba(255,255,255,1);
	font-weight: bold;
	font-size: 5em;
	letter-spacing: 20px;
}

@media only screen and (max-width:576px){
	#container #container-welcome-img h1{
		position: absolute;
		top: 40%;
		left: 14%;
		color: rgba(255,255,255,1);
		font-weight: bold;
		font-size: 3em;
		letter-spacing: 10px;
	}
}


@media only screen and (max-width:450px){
	#container #container-welcome-img h1{
		position: absolute;
		top: 30%;
		left: 14%;
		color: rgba(255,255,255,1);
		font-weight: bold;
		font-size: 2.5em;
		letter-spacing: 10px;
	}
}

@media only screen and (max-width:420px){
	#container #container-welcome-img h1{
		position: absolute;
		top: 30%;
		left: 14%;
		color: rgba(255,255,255,1);
		font-weight: bold;
		font-size: 2.5em;
		letter-spacing: 10px;
	}
}

@media only screen and (max-width:320px){
	#container #container-welcome-img h1{
		position: absolute;
		top: 25%;
		left: 14%;
		color: rgba(255,255,255,1);
		font-weight: bold;
		font-size: 1.5em;
		letter-spacing: 10px;
	}
}

@media only screen and (max-width:300px){
	#container #container-welcome-img h1{
		position: absolute;
		top: 25%;
		left: 14%;
		color: rgba(255,255,255,1);
		font-weight: bold;
		font-size: 1.5em;
		letter-spacing: 10px;
	}
}


/*container-content*/
#container .container-content {
	width: 80%;
	margin:auto;
	margin-bottom: 50px;
	background-color: rgba(255,255,255,1);
	display: grid;
	border-radius: 8px;
}

#container .container-content .menu {
	/*background-color: red;*/
	border-bottom: solid rgba(0,0,0,.3) 1px;
	margin: 0px;
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	display: grid;
	grid-template-areas: 
	'img desc tombol';
	grid-gap: 14px;
	box-sizing: border-box;
}

#container .container-content .menu:hover {
	background-color: rgba(0,0,0,.03);
	border-bottom: solid rgba(0,0,0,.5) 1px;
}

#container .container-content .menu .img-menu{
	width: 120px;
	height: 120px;
	background-color: lightblue;
	border-radius: 8px;
}

#container .container-content .menu .tombol {
	padding: 8px !important;	
	cursor: pointer;
}

.menu .wrapper1 {
	/*background-color: yellow;*/
	grid-area: img;
}

.menu .wrapper2 {
	/*background-color: green;*/
	grid-area: desc;
	margin: auto;
}

.menu .wrapper3 {
	grid-area: tombol;
	margin: auto;
}



/*penutup container-content*/
/*penutup container*/
